.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

/log/
target/

*.jar
*.war
*.ear
*.db

.DS_Store
.svn

.Spotlight-V100
.Trashes

/bin
/deploy/

*.log
*.class
*.*~
*~
.merge_file*

!.mvn/wrapper/maven-wrapper.jar